*{
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

body{
  width:100%;
 /*  background: linear-gradient(to right,#0F2027 80%,#203A43,#2c5364); */
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  /* position: relative; */
  font-family:sans-serif;
}

/* .navcontainer{
  width:100%;
  height: 70px;
} */
 
.navbar{
  width: 100%;
  height: 100px;
  margin: 0 20px;
  padding: 20px;
  font-size: large;
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.navwelcome{
  width: 50%;
  color:aliceblue;
  font-weight: bold;
  margin-left: 40px;
}
nav{
  margin: 40px;
  font-weight: bold;
  padding: 20px;
}

.navlinks ul{
  list-style: none;
  margin:20px;
}

.navlinks ul li{
  display: inline-block;
  margin:10px 30px;
  padding: auto;
}

.linknav{
  position: relative;
  text-decoration: none;
  color:aliceblue;
}

.linknav:after{
  content: '';
  position: absolute;
  background-color: aliceblue;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: all 1s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}
/* .linknav::before{
  content: '';
  position: absolute;
  background-color: aliceblue;
  height: 3px;
  width: 0%;
  right: 0;
  bottom: -10px;
  transition: all 1s;
} */

.linknav:hover::after{
  /* animation: nav 1s ; */
  transform: scale(0.7);
}
/* .linknav:hover::before{
  animation: nav 1s alternate;
} */

/* @keyframes nav{
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
} */

.navwelcome h4{
  /* color:#E55D87 ; */
  /* background-blend-mode: linear-gradient(to right,#E55D87,#5FC3E4); */
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_section{
  position: relative;
  display: flex;
}

.hero_section img{
  display: block;
  position: absolute;
  left: 100px;
}

  



