*{
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

body{
  width:100%;
 /*  background: linear-gradient(to right,#0F2027 80%,#203A43,#2c5364); */
  /* background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%); */
  background-color: #000;
  /* position: relative; */
  background-size: cover;
  font-family:sans-serif;
}



/* .navcontainer{
  width:100%;
  height: 70px;
} */
 
.navbar{
  width: 100%;
  height: 10%;
  margin: 0px 20px;
  padding: 20px;
  font-size: large;
  display:flex;
  justify-content: space-between;
  position: relative;
  animation-fill-mode: forwards;
  animation:nav-link 4.3s ease-in ;
}
@keyframes nav-link{
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0px);
  }
}
nav li{
  animation-fill-mode: forwards;
  animation: links 1s forwards 4.5s;
  /* animation-delay: calc((--a)*2s); */
}  

nav li:nth-child(2){
   animation-delay: 4.7s;
}
nav li:nth-child(3){
   animation-delay: 4.99s;
}
nav li:nth-child(4){
   animation-delay: 5.1s;
}
@keyframes links{
  0%{
    transform: translateX(50px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;

  }
}

.navwelcome{
  width: 50%;
  color:aliceblue;
  font-weight: bold;
  margin-left: 40px;
  /* animation: welcome 1s infinite 1s; */
}
nav{
  font-weight: bold;
}

.navlinks ul{
  list-style: none;
  margin:15px;
}

.navlinks ul li{
  display: inline-block;
  margin:10px 30px;
  padding: auto;
  opacity: 0;
}

.linknav{
  position: relative;
  text-decoration: none;
  color:aliceblue;
}

.linknav:after{
  content: '';
  position: absolute;
  background-color: aliceblue;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: all 1s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}
/* .linknav::before{
  content: '';
  position: absolute;
  background-color: aliceblue;
  height: 3px;
  width: 0%;
  right: 0;
  bottom: -10px;
  transition: all 1s;
} */

.linknav:hover::after{
  /* animation: nav 1s ; */
  transform: scale(0.7);
}
/* .linknav:hover::before{
  animation: nav 1s alternate;
} */

/* @keyframes nav{
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
} */
/* @keyframes welcome{
  0%{
    text-shadow: none;
  }
  20%{
    text-shadow: #eee;
  }
} */

.navwelcome h4{
  /* color:#E55D87 ; */
  /* background-blend-mode: linear-gradient(to right,#E55D87,#5FC3E4); */
  font-size: 40px;
  background :-webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display{
  opacity: 0;
  height: 0;
  animation: display 0.1s forwards 4.1s;
}

@keyframes display{
  0%{
    opacity: 0;
    height: 0;
  }
  100%{
    opacity: 1;
    height: 100%;
  }
}

.hero_section{
  margin-top: 30px;
  margin-left: 30px;
  /* padding-top: 20px; */
/*   padding-left: 20px; */
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 100px;
  position: relative;
}

.img_container{
  width: 200px;
  min-height: 200px;
  margin: 10px;
  padding: auto;
  border-radius: 50%;
  background-image: url('./images/logo.jpg');
  background-size: cover;
  position: relative;
  /* filter: blur(20px); */
  opacity: 0;
  animation:image 1s 5.1s forwards;
}

@keyframes image{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.img_container::before{
  content: '';
  position: absolute;
  top: 30px;
  left: 10px;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
  filter: blur(20px);
  background-size: cover;
  opacity: 0.5;
}  

.hero_text{
  width: 40%;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color:lightblue;
  opacity: 0;
  animation:image 1s forwards 5.1s;
}

.fixed_text{
  margin-bottom: 30px;
  color: lightblue;
}


.changing_text{
  text-transform: lowercase;
  margin-top: 30px;
}

.result{
  position: relative;
}

.result::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  border-right: 2px solid lightblue;
}

.about_me{
  margin-top: 10px;
  width: 100%;
}

.icons_container{
  display:flex;
  align-items: center;
  margin: 20px;
  padding-left: 20px;
  gap:30px;
  width:50%;
  position: absolute;
  bottom: 50px;
}

.icon{
  /* border: 2px solid aliceblue;
  border-radius: 50%; */
  position: relative;
  font-size: 35px;
  color: aliceblue;
  opacity: 0;
  animation: icon 1s forwards 5.5s;
}

.icon:nth-child(2){
  animation-delay: 5.7s;
}
.icon:nth-child(3){
  animation-delay: 5.9s;
}
.icon:nth-child(4){
  animation-delay: 6.1s;
}
@keyframes icon{
 0%{
   transform: translateX(50px);
   opacity: 0;
 }
 100%{
   transform: translateX(0);
   opacity: 1;

 }
}

.icon:hover{
  color:blue;
  transition: all 1s;
  cursor:pointer;
  opacity: 0.8;
}

.starting{
  position: absolute;
  /* left:40px;
  top: 100px; */
  stroke: #0ed1c1;
  font-size: 150px;
  font-weight: 700;
  stroke-width: 5;
  animation: textAnimate 4s forwards;
  left: -100px;
}.ending{
  stroke: #0ed1c1;
  font-size: 200px;
  font-weight: 700;
  stroke-width: 5;
  opacity: 0;
  animation: textAnimates 5s infinite 5.3s;
}

@keyframes textAnimate{
  0%{
    stroke-dasharray: 0 50%;
    stroke: #0ed1c1;
  }
  90%{
    opacity: 1;
    stroke-dasharray: 50% 0;
    height: 100%;
    stroke: red;
  }
  100%{
    opacity: 0;
    height: 0%;
  }
}
@keyframes textAnimates{
  0%{
    opacity: 1;
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 40px;
  }
  100%{
    opacity: 1;
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -40px;

  }
}

/* @keyframes entrys{
  0%{
    opacity: 0;
  }
  90%{
    text-shadow: 0 0 12px limegreen,0 0 25px limegreen, 0 0 50px limegreen ;
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

 @keyframes glow{
  10%,90%{
    text-shadow: none;
  }
  100%{
    background-position: 0 0;
    text-shadow: 0 0 12px limegreen,0 0 25px limegreen, 0 0 50px limegreen ;
  } 
}  */

 /* ///////ABOUT PAGE */

/*   .about_page{
  width: 100%;
  height: 100%;
}

.about_hero_section{
  width: 100%;
  height: 100%;
}  */

.about_img_container{
  /* display: flex;
  align-items: center; */
  width: 80%;
  min-height: 600px;
  margin: 0 auto;
  padding: auto;
  background-image: url('https://c0.wallpaperflare.com/preview/1004/350/396/abstract-php-c-analytics-thumbnail.jpg');
  background-size: cover;
  overflow: hidden;
  position: relative;
  animation:image 1s forwards;
}

/* .about_img_container img{
  margin: auto;
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: cover;
  overflow: hidden;
} */

.about_img_container h4{
  color: #eee;
  font-size: 2em;
  position: absolute;
  left:26%;
  right: auto;
  opacity: 0;
  top: 20%;
  animation: image 1s forwards 1s;
}

.about_skills{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:15%;
  margin: 50px;
}

.about_card{
  position: relative;
  width: 300px;
  height: 350px;
  margin-bottom: 40px;
  margin-top: 20px;
  background-color: #fff;
}

.about_card::before{
  content: '';
  position: absolute;
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
  background: linear-gradient(315deg,#00ccff,#0e1538,#d400d4);
  transform: skewX(2deg) skewY(4deg);
}
.about_card::after{
  content: '';
  position: absolute;
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
  background: linear-gradient(315deg,#00ccff,#0e1538,#d400d4);
  filter: blur(80px);
}
.about_card_background{
  top:0;
  left:0;
  width: 100%;
  height:100%;
  position: absolute;
  background: #000;
  z-index: 10;
}

.skill_logo{
  width: 100%;
  min-height: 50%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-clip: border-box;
  overflow: hidden;
}

.skill_name{
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d400d4;
}

.skill_level{
  position: relative;
  width:80%;
  height: 10px;
  border: 2px solid ;
  margin: 10px auto;
  border-radius: 10px;
  color: #00ccff;
  background-color: #000;
}

.skill_level::after{
  content: '';
  width:var(--i);
  height: 100%;
  position: absolute;
  background-color: #d400d4;
  top: 0;
  left: 0;
}

/* .skill_level::before{
  content: '';
  cursor: pointer;
  position: relative;
  width: 10px;
  height: 10px;
  left: var(--i);
  border-radius: 50%;
  background-color: #eee;
} */

.circle{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 800px;
  height: 400px;
}

/* .skill_category::before{
  position: absolute;
  width: 250px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  display: flex;
  background-image: url("https://avatars.githubusercontent.com/u/83502526?v=4");
  align-items: center;
  justify-content: center;
  border-radius: 50%;
} */


.circle_img{
  position: absolute;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  opacity: 1;  
}
.circle .skill_category{
  position: absolute;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  cursor: pointer;
  animation: spin 8s infinite 5s;

}


@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}


.circle .skill_category .list {
  position:absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition:all 2s ease;
  opacity: 0;
} 

.circle:active:active .skill_category .list {
  opacity: 1;
} 
 
.circle .skill_category .list:nth-child(1) {
 
  background-image: url('https://icon-library.com/images/html-icon-set/html-icon-set-8.jpg');
  background-size:110px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  clip-path: circle(35px);
  transform: translateY(-80%);
}
.circle .skill_category .list:nth-child(2) {
  transform: sacle(1);
  background-image:url('https://ih1.redbubble.net/image.542875238.9623/fpp,small,lustre,wall_texture,product,750x1000.u2.jpg');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  clip-path: circle(35px);
  transform: translate(60%,-60%);
}

.circle .skill_category .list:nth-child(4){
  transform: sacle(1);
  background-image:url('https://ih1.redbubble.net/image.542875238.9623/fpp,small,lustre,wall_texture,product,750x1000.u2.jpg');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  clip-path: circle(35px);
  transform: translate();
  animation: child2 3s forwards;

}
.circle .skill_category .list:nth-child(3){
  transform: sacle(1);
  background-image:url('https://ih1.redbubble.net/image.542875238.9623/fpp,small,lustre,wall_texture,product,750x1000.u2.jpg');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  clip-path: circle(35px);
  transform: translate();
  animation: child3 3s forwards;
  
}
@keyframes child3{
  100%{
    transform: translate(50%,60%);
  }
}
@keyframes child2{
  100%{
    transform: translate(80%);
  }
}

.hr{
  color: #00ff59;
  background-color: #00ff59;
  width: 50%;
  transform: rotate(90deg);
  position: relative;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

/*project*/

.project_container{
 width:100%;
 height: 100%;
 margin: auto;
 position: relative;
 display: flex;
}

.swiper {
  display: flex;
  width: 400px;
  height: 600px;
  transition: all 1s ease-in-out;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  position: relative;
  
}

.swiper-slide:nth-child(1n) {
  background-image: url('images/img1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-image: url('images/img2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-button-next {
  position: absolute;
  opacity: 1;
  margin-right: -70px;
}
.swiper-button-prev{
  position: absolute;
  opacity: 1;
  margin-left: -60px;
}
.sliders_img{
  max-width: 100%;
  object-fit: cover;
  overflow:hidden;
}

.project_name{
  position: absolute;
  bottom: 80px;
  left: 20px;
}
.project_button{
  position: absolute;
  background-color: aqua;
  color: black;
  text-align: center;
  border-radius: 50px 50px;
  width:90px;
  height: 40px;
  bottom: 38px;
  left: 42%;
}
.project_button:hover{
  cursor:pointer;
  transform: scale(1.2);
  transform: transition(1s);
}
.project_button:active{
  opacity: 0.5;
}

.project_details_container{
  display:grid;
  position: relative;
  width: 255px;
  height: 355px;
  margin: 40px;
  border-radius: 1em;
  background: linear-gradient(50deg,#2a5a3b,#1e4886);
  overflow: hidden;
  animation: openbox 1.9s forwards;
  
}

.project_details_container::before{
  content:"";
  position: absolute;
  width:450px;
  height: 35px;
  top:0;
  right:35px;
  transition: 1.9s;
  background:linear-gradient(50deg,#00ff59,#02b3ff);
  transform: rotate(-45deg) translate(0,-100px); 

}
.card{
  display:grid;
  place-items: center;
  width: 247px;
  height: 347px;
  /* margin-top: 2px;
  margin-left: 2px; */
  margin: auto;
  background: black;
  border-radius: .8em;
  z-index: 1;
  color:#858585;
  overflow: hidden;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.card:hover{
  color:#02b3ff;
}
.project_details_container:hover::before{
  animation: effect 1.9s;
}
@keyframes effect{
  100%{
    transform: rotate(-45deg) translate(0px,450px);
  }
}
/* .deatiles{
  opacity:0;
} */
.detail_title{
  color:royalblue ;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.detail_des{
  text-align:justify;
  margin-bottom: 15px;
  margin-left: 5px;
}

.detail_tech{
  color:aqua;
  text-align:start;
  margin-left: 15px;
  margin-top: 5px;
}

.close_button{
  color:rgb(235, 16, 16);
  font-size: 25px;
  clip-path: circle();
  position: absolute;
  top:15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_button:hover{
  color:black;
  background-color: red;
  opacity:0.8;
}

@keyframes openbox{
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}

/*contact page*/

.contactPage{
  height: 100%;
  width: 100%;
  
}
.color-set{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}
.form{
  width: 450px;
  height:500px;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #02b3ff; */
  margin: 30px 0;
  overflow: hidden;
  position: relative;
}


.form::before{
  position:absolute;
  content: "";
  width: 100%;
  height:50%;
  bottom:0;
  background: #00ccff;
}
.form::after{
  position:absolute;
  content: "";
  width:100%;
  height:50%;
  top:0;
  background: #d400d4;
} 
@keyframes effect5{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

  .form2{
  inset:2px;
  background-color: #000 ;
  padding-left: 75px;
  padding-top: 20px;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 150px;
  position: absolute;
  z-index: 10;
} 
.input_box{
  margin: 20px 0;
  position:relative;
}
.input_name{
  height: 55px;
  width: 90%;
  background: transparent;
  fill: none;
  outline: none;
  border: 2px solid #00ccff;
  padding-left: 10px;
  color:#eee;
  font-size: 16px;
  border-radius: 20px;
  position: relative;
}
.input_box label{
  position: absolute;
  top:50%;
  left:10px;
  padding-left:10px;
  text-transform: lowercase;
  color: #fff;
  transform: translateY(-50%);
  transition: all 0.6s;
  font-size: 18px;
}

.input_name:focus ~label, 
.input_name:valid ~label{
  top:-1px;
  left: 8px;
  background-color:#000;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
}

textarea.input_name{
  padding: 10px;
  font-size: 16px;
  min-height: 80px;
  resize: none;
  overflow: auto;
}
input {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: #eee !important;
}

.submit-btn{
  background-color: #00ccff;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 40px 20px;
  font-size: 15px;
}

/* signin */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

.sectionr {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

.formr{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

.inputr1,
.inputr2,
.buttonr,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.labelr,
.buttonr {
  margin-top: 1rem;
}

.buttonr {
  padding: 0.5rem;
}

.instructionsr {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructionsr > svg {
    margin-right: 0.25rem;
}

.offscreenr {
    position: absolute;
    left: -9999px;
}

.hider {
    display: none;
}

.validr {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalidr {
    color: red;
    margin-left: 0.25rem;
}

.errmsgr {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.liner {
    display: inline-block;
} */